<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="conexion"
         connectionString="Data Source= LAPTOP-48C92AD8\CUJILEMA8;Initial Catalog= Prueba1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>