@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {               
                <hr />               
                <div class="form-group">
                    <label for="UserName">Usuario:</label>
                    <input name="UserName" />                   
                </div>
                
                <div class="form-group">
                    <label for="PasswordHash">Clave:</label>
                    <input name="PasswordHash" />
                </div>
              
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>
            }
        </section>
    </div>
   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
